* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: black;

}

body {
  background-color: rgb(250, 136, 6);
  font-family: 'Oleo Script';
}

body::-webkit-scrollbar {
  display: none;
}

nav {
  display: flex;
  align-items: center;
}

nav img {
  margin-left: 2%;
}

nav a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Titan One';
  transition: 0.3s;
}

nav a:hover{
  text-decoration:underline;
  font-size: x-large;
}

.selecionado{
  color: #3255bc;
}

nav ul {
  margin-left: 38%;
}

nav li {
  font-size: 20px;
  display: inline;
  margin: 0 0 0 50px;
}

.text {
  width: 70%;
  margin: auto;
  text-align: center;
  margin-top: 3%;
}

.text p {
  font-size: 20px;
}

.text h1 {
  text-transform: uppercase;
  margin-bottom: 2%;
  font-size: 35px;
}

.imagens {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;

}

.imagens img {
  width: 20%;
  height: auto;
  margin: 3%;
  border-radius: 10%;
  box-shadow: 0px 5px 10px 10px rgba(0, 42, 250, 0.695);
}

.funcionarios {
  background-color: #0c36b5;
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  height: 600px;
}
.funcionarios h2{
  display: inline-block;
  padding: 0;
}
.funcionarios .conheca{
  width: 100%;
  text-align: center;
  margin: 15px 0 20px 0;
  text-transform: uppercase;
}
.funcionarios article{
  width: 15%;
  margin: 0 2.5% 0 2.5%;
  text-align: center;
}
.funcionarios article img{
  width: 100%;
  border-radius: 10%;
  border: 2px solid black;
}
.produtos{
  display: flex;
  justify-content: center;
}
.produtos .prod{
  margin: 5% 2.5% 5% 2.5%;
  text-align: center;
  background-color: #0c36b5;
  border: 2px solid black;
  border-radius: 10%;
}
.prod img{
  margin-top: 2.5%;
  width: 90%;
  border-radius: 10%;
  border: 2px solid black;
}
.prod p{
  margin-bottom: 2.5%;
  color:rgb(250, 136, 6) ;
}
.prod h3{
  text-transform: uppercase;
}
.container h2{
  text-align: center;
}
.agenda{
  margin-top: 2.5%;
  height: 900px;
  justify-content: center;
  display: flex;
}
footer{
  background-color: #000000;
  text-align: center;
  bottom: 0;
  position: fixed;
  width: 100%;

        
}

footer p {
  font-size: 20px;
  padding-top: 1%;
  padding-bottom: 1%;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Titan One';
}

/* CONTATO */
form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

input[type="tel"],
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

input[type="submit"] {
  background-color: #0c36b5;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0004ff;
}